
#lore-toolbar-button
{
  list-style-image: url("chrome://lore/skin/oaioreicon-sm.png");
}
#lore-toolbar-button:hover
{
  list-style-image: url("chrome://lore/skin/oaioreicon-sm-hlite.png");
}
#oobStatusBar {
    cursor: pointer;
}
#loreStatusIcon {
    list-style-image: url(chrome://lore/skin/oaioreicon-sm.png);
}
#oobContentBox {
    /*-moz-binding: url("chrome://lore/content/bindings.xml#contentBox");*/
    height: 270px;
}
#oobContentSplitter {
    border-top: 1px solid !important;
    -moz-border-top-colors: threedShadow !important;
    border-bottom: 1px solid !important;
    -moz-border-bottom-colors: #EEEEEE !important;
    min-height: 3px;
    max-height: 3px;
    background-color: #FFFFFF;
}
#oobMenuButton {
	/*margin: 0 4px 0 0;
    padding: 0 0 0 4px;*/
	list-style-image: url(chrome://lore/skin/oaioreicon-sm.png);
}
#save-rdf {
	list-style-image: url(chrome://lore/skin/icons/disk.png);
}
#reset-graph {
	list-style-image: url(chrome://lore/skin/icons/arrow_refresh.png);
}
#add-node {
	list-style-image: url(chrome://lore/skin/icons/application_add.png);
}
#add-annotation {
	list-style-image: url(chrome://lore/skin/icons/comment_add.png);
}
#show-annotations {
	list-style-image: url(chrome://lore/skin/icons/comment_yellow.gif);	
}
#load-rdf-repos{
	list-style-image: url(chrome://lore/skin/icons/world_go.png);
}
#load-rdf{
	list-style-image: url(chrome://lore/skin/icons/application_put.png);
}
#text-mining {
	list-style-image: url(chrome://lore/skin/icons/Calais_icon.jpg);
}
#show-prefs {
	list-style-image: url(chrome://lore/skin/icons/cog.png);
}