/* Override default styles for high-contrast theme */
* {
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #fffff6; 
}
body {
	background-color: transparent;
}
h1, h2, h3 {
	color: #fffff6;
}
.x-grid3-row-selected * {
	background-color: orange !important;
}
.x-tab-panel-body {
	background-color: #343843;
}
.x-tree-node a {
	color: orange !important;
}
.x-panel-header, .x-tree-headers {
	background-image:none;
	background-color: transparent;
}
