
#lore-toolbar-button
{
  list-style-image: url("chrome://lore/skin/oaioreicon-sm.png");
}
#lore-toolbar-button:hover
{
  list-style-image: url("chrome://lore/skin/oaioreicon-sm-hlite.png");
}
#oobStatusBar {
    cursor: pointer;
}
#loreStatusIcon {
    list-style-image: url(chrome://lore/skin/oaioreicon-sm.png);
}

#oobAnnoContentBox {
	width: 35%;	
}

#oobMenuButton {
	/*margin: 0 4px 0 0;
    padding: 0 0 0 4px;*/
	list-style-image: url(chrome://lore/skin/oaioreicon-sm.png);
}
#save-rdf {
	list-style-image: url(chrome://lore/skin/icons/database_save.png);
}
#delete-rdf {
	list-style-image: url(chrome://lore/skin/icons/database_delete.png);	
}
#reset-graph {
	list-style-image: url(chrome://lore/skin/icons/arrow_refresh.png);
}
#create-co {
	list-style-image: url(chrome://lore/skin/icons/database_add.png);
}
#add-node {
	list-style-image: url(chrome://lore/skin/icons/add.png);
}
#layout-co {
	list-style-image: url(chrome://lore/skin/icons/layout.png);
}
#add-annotation {
	list-style-image: url(chrome://lore/skin/icons/comment_add.png);
}

#remove-annotation {
	list-style-image: url(chrome://lore/skin/icons/comment_delete.png);
}

#edit-annotation {
	list-style-image: url(chrome://lore/skin/icons/comment_edit.png);
}

#reply-annotation {
	list-style-image: url(chrome://lore/skin/icons/arrow_rotate_clockwise.png);
}
#save-annotation {
	list-style-image: url(chrome://lore/skin/icons/disk.png);
}

#save-all-annotations {
	list-style-image: url(chrome://lore/skin/icons/disk_multiple.png);
}
#show-annotations {
	list-style-image: url(chrome://lore/skin/icons/comment_yellow.gif);	
}
#load-rdf-repos{
	list-style-image: url(chrome://lore/skin/icons/world_go.png);
}
#load-rdf{
	list-style-image: url(chrome://lore/skin/icons/application_put.png);
}
#import-export, #import-export-anno {
	list-style-image: url(chrome://lore/skin/icons/table_refresh.png);
}
#text-mining {
	list-style-image: url(chrome://lore/skin/icons/page_white_magnify.png);
}
#show-prefs {
	list-style-image: url(chrome://lore/skin/icons/cog.png);
}