.anno-caption {
    font-size:small;
    color:#51666b;
}
.anno-tag {
    background-color: #E7E7E7;
    border: 1px solid #D7D7D7;
    margin: 2px;
    padding: 2px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.anno-icon-private {
    background-image: url(../../skin/icons/eye.png);
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}
.annochanged {
    background-color: #ffcccc !important;
}
/* Tree styles */
.x-tree-node .anno-icon, .anno-icon {
    background-image: url(../../skin/icons/comment.png);
    background-repeat: no-repeat;
}
.x-tree-node .anno-icon-reply, .anno-icon-reply  {
    background-image: url(../../skin/icons/anno/reply.png);
    background-repeat: no-repeat;
}
.x-tree-node .anno-icon-variation, .anno-icon-variation {
    background-image: url(../../skin/icons/anno/variation.png) !important;
    background-repeat: no-repeat;
}
.x-tree-node .anno-icon-explanation, .anno-icon-explanation {
    background-image: url(../../skin/icons/anno/explanation.png);
    background-repeat: no-repeat;
}
.x-tree-node .anno-icon-question, .anno-icon-question {
    background-image: url(../../skin/icons/anno/question.png);
    background-repeat: no-repeat;
}
.x-tree-node .anno-view {
    height: 16px !important;
}
.x-tree-node-bheader, .x-tree-node-bfooter {
    color: #51666b;
    font-size:smaller;
    
}
.x-tree-node .anno-icon-launchWindow {
    background-image: url(../../skin/icons/page_go.png) !important;
    /*display:none;*/
}
.x-tree-node .anno-icon-splitter {
    background-image: url(../../skin/icons/anno/application_tile_horizontal.png);
    /*display:none;*/
}
.x-tree-col-div-general * ol {
    list-style:decimal !important;
}
.x-tree-col-div-general * ul {
    list-style:disc !important;
}
.x-column-tree .x-panel-header {
    padding: 3px 0px 0px 0px;
    border-bottom-width: 0px;
}

.x-column-tree .x-panel-header .x-panel-header-text {
    margin-left: 3px
}
.x-column-tree  .x-tree-node a {
    line-height:18px;
    vertical-align:middle;
}
.x-column-tree  .x-tree-node .x-tree-selected a span{
    background:transparent;
    color:#000;
}
.x-tree-col {
    float:left;
    padding:0 1px;
    white-space:normal;
}
.x-tree-col-div-general {
    white-space: normal;
    width: 100%;
}
.x-tree-node .x-tree-col-div-general a {
    -moz-user-select:text !important;
    -webkit-user-select:text !important;
}
.x-tree-col-text {
    padding:3px 3px 3px 3px;
    font-family: arial, tahoma, helvetica, sans-serif;
    font-size:12px;
}
.x-tree-hd-text {
    overflow:hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
    padding:3px 3px 3px 5px;
    white-space: normal;
    font-size:12px;
    font-family: arial, tahoma, helvetica, sans-serif;
}
/*
 * Any images displayed in the column text are shrunk to thumbnail size
 */
.x-tree-col-text img {
    max-width:128px;
    height:auto;
}
.x-tree-headers {
    background: #f9f9f9 url(/lib/ext/resources/images/default/grid/grid3-hrow.gif) repeat-x 0 bottom;
    cursor:default;
}
.x-tree-hd {
    float:left;
    overflow:hidden;
    border-left:1px solid #eee;
    border-right:1px solid #d0d0d0;
}
/** Annotation Search DataView **/
#search-view {
    background: white;
}
#search-view .annoListing {
    cursor:pointer;
    font-size: 12px;
    font-family:arial, tahoma, helvetica, sans-serif;
    padding:3px 5px 7px 5px;
    margin: 2px;
}
#search-view .annoListingTitle {
    font-size:100%;
}
#search-view .annoURL, #search-view .annoListingMeta {
    padding-left: 7px;
    color: #51666b;
    font-size:90%;
}
#search-view .annoURL {
    color: blue;
}
#search-view .x-view-over {
    background-color: #eeeeee;
}
#search-view .x-view-selected {
    background-color: #dddddd;
}